@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : "";}).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    Style.Include("site.css");
    

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

	
    /* Last bit of code to prep the layout wrapper
    ***************************************************************/
    
    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write("<script type='text/javascript' src='//code.jquery.com/jquery.min.js'><" + "/script>");
        document.write("<script type='text/javascript'>window.jQuery || document.write(\"<script type='text/javascript' src='@Href("~/Themes/LombiqSampleKit/js/jquery.min.js")'><\" + \"/script>\");<" + "/script>");
    }
</script>

<script type="text/javascript" src="@Href("~/Themes/LombiqSampleKit/js/BindMENU.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/LombiqSampleKit/js/jqFlickrGallery.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/LombiqSampleKit/js/jquery.nivo.slider.pack.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/LombiqSampleKit/js/jquery.prettyPhoto.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/LombiqSampleKit/js/jquery.twitter.js")"></script>

<!--Apply class to body with browser version-->
<script type="text/javascript">
	var nVer = navigator.appVersion; var nAgt = navigator.userAgent; var bN = navigator.appName; var fullV = "" + parseFloat(navigator.appVersion); var majorV = parseInt(navigator.appVersion, 10); var nameOffset, verOffset, ix; if ((verOffset = nAgt.indexOf("Opera")) !== -1) { bN = "Opera"; fullV = nAgt.substring(verOffset + 6); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("MSIE")) !== -1) { bN = "IE"; fullV = nAgt.substring(verOffset + 5) } else { if ((verOffset = nAgt.indexOf("Chrome")) !== -1) { bN = "Chrome"; fullV = nAgt.substring(verOffset + 7) } else { if ((verOffset = nAgt.indexOf("Safari")) !== -1) { bN = "Safari"; fullV = nAgt.substring(verOffset + 7); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("Firefox")) !== -1) { bN = "Firefox"; fullV = nAgt.substring(verOffset + 8) } else { if ((nameOffset = nAgt.lastIndexOf(" ") + 1) < (verOffset = nAgt.lastIndexOf("/"))) { bN = nAgt.substring(nameOffset, verOffset); fullV = nAgt.substring(verOffset + 1); if (bN.toLowerCase() == bN.toUpperCase()) { bN = navigator.appName } } } } } } } if ((ix = fullV.indexOf(";")) !== -1) { fullV = fullV.substring(0, ix) } if ((ix = fullV.indexOf(" ")) !== -1) { fullV = fullV.substring(0, ix) } majorV = parseInt("" + fullV, 10); if (isNaN(majorV)) { fullV = "" + parseFloat(navigator.appVersion); majorV = parseInt(navigator.appVersion, 10) } 
	document.getElementsByTagName("body")[0].className += " " +  bN + majorV + " cmsORX cmsORX1";
</script>

<!--[if lte IE 7]>
<link rel="stylesheet" href="@Href("~/Themes/LombiqSampleKit/Styles/css/ie7.css")" type="text/css"/>
<![endif]-->

<div id="BgLayer1"><div id="BgLayer2"><div id="BgLayer3">

	<div class="PageWidth"><div id="Wrapper"><!--Class .PageWidth provides page width control in BindTuning -->
		<div id="TopBar"></div>
		<div id="NavAux">
			@if (Model.Featured != null){<div id="Featured" class="pane w50"><div class="C00_Clean container-box">@Display(Model.Featured)</div></div>}<!--Class .pane makes content zones float left. Do not use it if you don't want a left float-->
			<div id="Search"><div id="SearchBar">@using (Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form" })){<fieldset><input type="text" value="" name="q" id="q"><button type="submit">Test</button></fieldset>}</div></div><!--ID #Search is mandatory to display search token -->
			<div id="Cart"></div><!--ID #Cart is mandatory to display cart token -->
		</div>
		<div id="Header">
			<div id="Logo"><h1><a href="/" title="Go to Home">@WorkContext.CurrentSite.SiteName</a></h1></div><!--ID #Logo is mandatory to display logo token -->
			<div id="MenuH">@if (Model.Navigation != null) {@Display(Model.Navigation)}</div><!--ID #MenuH is mandatory to display horizontal menu token -->
		</div>
		<div id="HomeBanner">@if (Model.Header != null){<div id="Header" class="Header w100"><div class="C00_Clean container-box">@Display(Model.Header)</div></div>}</div><!--Full width zone, does not need the .pane class-->
		
		<div id="MainContentAreaWrapper">
			<div id="MainContentArea">
				<div class="zonegroup">
	@if (Model.BeforeMain != null){<div id="BeforeMain" class="pane w100"><div class="C00_Clean container-box">@Display(Model.BeforeMain)</div></div>}
</div>
<div class="zonegroup">
	
	
</div>
<div class="zonegroup">
	
	
</div>
<div class="zonegroup">
	@if (Model.AsideFirst != null){<div id="AsideFirst" class="pane w50"><div class="C01 container-box">@Display(Model.AsideFirst)</div></div>}
	@if (Model.BeforeContent != null){<div id="BeforeContent" class="pane w50"><div class="C01 container-box">@Display(Model.BeforeContent)</div></div>}
</div>
<div class="zonegroup">
	@if (Model.Content != null){<div id="Content" class="pane w100"><div class="C00_Clean container-box">@Display(Model.Content)</div></div>}
</div>
<div class="zonegroup">
	
	
</div>
<div class="zonegroup">
	@if (Model.AfterContent != null){<div id="AfterContent" class="pane w30"><div class="C00_Clean container-box">@Display(Model.AfterContent)</div></div>}
	@if (Model.AsideSecond != null){<div id="AsideSecond" class="pane w70"><div class="C00_Clean container-box">@Display(Model.AsideSecond)</div></div>}
</div>
<div class="zonegroup">
	
	
	
</div>
<div class="zonegroup">
	@if (Model.AfterMain != null){<div id="AfterMain" class="pane w100"><div class="C00_Clean container-box">@Display(Model.AfterMain)</div></div>}
</div>
<div class="zonegroup">
	@if (Model.TripelFirst != null){<div id="TripelFirst" class="pane w33"><div class="C02 container-box">@Display(Model.TripelFirst)</div></div>}
	@if (Model.TripelSecond != null){<div id="TripelSecond" class="pane w34"><div class="C02 container-box">@Display(Model.TripelSecond)</div></div>}
	@if (Model.TripelThird != null){<div id="TripelThird" class="pane w33"><div class="C02 container-box">@Display(Model.TripelThird)</div></div>}
</div>
<div class="clear"></div><!--This content zone is MANDATORY-->
			</div>
		</div>
		<div id="SideBar" class="MenuVWidth">
			<div id="SideBarPadding">
				<div id="MenuV"><div class="navholder"><script type="text/javascript">$("#MenuV .navholder").html($("#MenuH nav").parent().html());</script></div></div><!--ID #MenuV is mandatory to display vertical menu token -->
				@if (Model.Messages != null){<div id="Messages" class="w100"><div class="C00_Clean container-box">@Display(Model.Messages)</div></div>}
			</div>
		</div>
		<div id="Breadcrumb"></div><!--ID #Breadcrumb is mandatory to display breadcrumb token -->
		<div id="Footer">
			<div id="FooterContent">
				<div class="zonegroup"><!--Side-by-side zones MUST be grouped in a .zonegroup-->
					@if (Model.FooterQuadFirst != null){<div id="FooterQuadFirst" class="pane w25"><div class="C00_Clean container-box">@Display(Model.FooterQuadFirst)</div></div>}
					@if (Model.FooterQuadSecond != null){<div id="FooterQuadSecond" class="pane w25"><div class="C00_Clean container-box">@Display(Model.FooterQuadSecond)</div></div>}
					@if (Model.FooterQuadThird != null){<div id="FooterQuadThird" class="pane w25"><div class="C00_Clean container-box">@Display(Model.FooterQuadThird)</div></div>}
					@if (Model.FooterQuadFourth != null){<div id="FooterQuadFourth" class="pane w25"><div class="C00_Clean container-box">@Display(Model.FooterQuadFourth)</div></div>}
				</div>
				<div class="zonegroup">
					@if (Model.Footer != null){<div id="Footer" class="pane w100"><div class="C00_Clean container-box">@Display(Model.Footer)</div></div>}
				</div>
				<div class="clear"></div>
			</div>
			<div id="FooterNav">
				<span id="Copyright"><span class="Copyright">&copy; 2013 @WorkContext.CurrentSite.SiteName. All rights reserved.</span></span>
				<span id="Sitemap"></span>
				<span id="Privacy"></span>
				<span id="Terms"></span>
				<span id="Login">@if (Request.IsAuthenticated) {
		<span class="user-actions">
			@Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })
			@Html.ActionLink("Dashboard", "Index", new { Area = "Dashboard", Controller = "Admin" })
		</span>
} else {
		<span class="user-actions">@Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })</span>
}</span>
				<span id="User">@if (Request.IsAuthenticated) {
	<span class="welcome">@if(WorkContext.CurrentUser != null){@T("<strong>{0}</strong>", new HtmlString(Html.ActionLink( WorkContext.CurrentUser.UserName, "ChangePassword", new { Controller = "Account", Area = "Orchard.Users" }).ToString()))}</span>
}</span>
				<span id="Language"></span>
			</div>
			<div id="BottomBar"></div>
		</div>
	</div></div>
</div></div></div>

<script type="text/javascript">
    if (typeof jQuery.ui == 'undefined') {
        document.write("<script type='text/javascript' src='//code.jquery.com/ui/1.8.22/jquery-ui.min.js'><" + "/script>");
        document.write("<script type='text/javascript'>window.jQuery.ui || document.write(\"<script type='text/javascript' src='@Href("~/Themes/LombiqSampleKit/js/jquery-ui.min.js")'><\" + \"/script>\");<" + "/script>");
    }
</script>
<script type="text/javascript">
(function( $ ){
	$(window).load(function() {
	    $('#slider').nivoSlider();
	});

	$(document).ready(function(){
		$("#tabs").tabs();
		$("a[rel^='prettyPhoto']").prettyPhoto();
	});
})(jQuery);
</script>

    <script type="text/javascript" >
	(function( $ ) {
		$("#MenuH .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Horizontal" });
		$("#MenuV .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Vertical" });
	})(jQuery);
    </script>
	
<!-- powered by BIND TUNING 2012 // http://www.bindtuning.com -->
